# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

# BlueJ files
*.ctxt

.DS_Store
# Mobile Tools for Java (J2ME)
.mtj.tmp/

*.swp
# Package Files #
*.jar
*.war
*.ear

build
!web-front/wechat-guan-wang/build
!web-front/crm-admin/build
npm-debug.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gradle
.idea
gradle/
gradlew
gradlew.bat
huangtu_oa_backend.iml
out/
node_modules
src/main/resources/static
src/main/resources/templates
src/main/resources/application.properties
upload
.vscode
gradle/
gradlew.bat
gradlew
out/
huangtu_oa_backend.iml

src/test/java/**